<div class="row no-gutters recover-password-page container-fluid">
    <div class="col-md-6 d-none d-md-block image-section">
        <cc-image-shell class="add-overlay recover-password-image" animation="spinner" [mode]="'cover'" [src]="'/assets/pics/favicon.png'" [alt]="'app image'"></cc-image-shell>
    </div>
    <div class="col-md-6 col-sm-12 form-section">
        <h1 class="page-title">Don't worry!</h1>
        <span class="page-subtitle">
            We are here to help you recovering your password. Please enter your username along with your new password.
        </span>
        <form class="recover-password-form" [formGroup]="recoverPasswordForm" (ngSubmit)="onChangePassword()">
            <div class="form-group">
                <label for="username" style="padding-bottom: 10px;">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" >
                <div *ngIf="submitted && h.username.errors" class="invalid-feedback">
                    <div *ngIf="h.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" style="padding-bottom: 10px;">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" (keyup)="checkPassword()">
                <div *ngIf="submitted && h.password.errors" class="invalid-feedback">
                    <div *ngIf="h.password.errors.required">Password is required</div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" style="padding-bottom: 10px;">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" (keyup)="checkPassword()">
                <div *ngIf="submitted && h.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="h.confirmPassword.errors.required">Password is required</div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
            </div>
            <div class="form-call-to-actions row no-gutters">
                <a class="col-xs-12 col-sm-6 form-action text-link" [routerLink]="['/authentication/signin']">Go back to Login page</a>
                <button class="col-xs-12 col-sm-6 form-action recover-password-btn" type="submit" (click)="onChangePassword()">Recover Password</button>
            </div>
        </form>
    </div>
</div>