.full-width {
  width: 100%;
  height: 40%;
}

mat-form-field {
font-size: 13px;
width: 100%;
height: 75%;
}

.container-fluid {
color: darkblue; 
background:rgb(251, 252, 249);
}

.highlight{
  background: lightgray;
}

tr:focus{
  outline: none;
}
