<div class="container-fluid">
    <div class="row no-gutters">
        <div class="visualization-heading col-12">
            <div class="heading-info row">
                <div class="col-6">                
                    <h3 class="heading-title">Lookup Tables</h3>
                </div>
            </div>
            <hr>
            <div class="col-12">
                <mat-tab-group>
                  <!---
                    <mat-tab label="Salesman Details">
                        <button class="button-add-row" mat-button (click)="addSalesmenRow()">Add New Salesman</button>
                          <table mat-table table-dark [dataSource]="salesmanDataSource" class="table ">
                            <ng-container [matColumnDef]="col.key" *ngFor="let col of salesmanColumnsSchema">
                              <th mat-header-cell *matHeaderCellDef>
                                {{ col.label }}
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="editSalesmenRow(element)">Edit</button>
                                  </div>
                                  <span *ngSwitchDefault>
                                    {{ element[col.key] }}
                                  </span>
                                </div>
                                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="submitSalesmenRow(element)">Done</button>
                                  </div>
                                  <mat-form-field class="form-input" *ngSwitchDefault>
                                    <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                                  </mat-form-field>
                                </div>
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="salesmanDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: salesmanDisplayedColumns"></tr>
                          </table>
                    </mat-tab>
                    <mat-tab label="Manufacturer Details">
                        <button class="button-add-row" mat-button (click)="addManufacturerRow()">Add New Manufacturer</button>
                          <table mat-table table-dark [dataSource]="manufacturerDataSource" class="table ">
                            <ng-container [matColumnDef]="col.key" *ngFor="let col of manufacturerColumnsSchema">
                              <th mat-header-cell *matHeaderCellDef>
                                {{ col.label }}
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="editManufacturerRow(element)">Edit</button>
                                  </div>
                                  <span *ngSwitchDefault>
                                    {{ element[col.key] }}
                                  </span>
                                </div>
                                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="submitManufacturerRow(element)">Done</button>
                                  </div>
                                  <mat-form-field class="form-input" *ngSwitchDefault>
                                    <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                                  </mat-form-field>
                                </div>
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="manufacturerDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: manufacturerDisplayedColumns"></tr>
                          </table>
                    </mat-tab>
                    <mat-tab label="Brand Details">
                        <button class="button-add-row" mat-button (click)="addBrandRow()">Add New Brand</button>
                        <table mat-table table-dark [dataSource]="brandDataSource" class="table ">
                          <ng-container [matColumnDef]="col.key" *ngFor="let col of brandColumnsSchema">
                            <th mat-header-cell *matHeaderCellDef>
                              {{ col.label }}
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <button mat-button (click)="editBrandRow(element)">Edit</button>
                                </div>
                                <span *ngSwitchDefault>
                                  {{ element[col.key] }}
                                </span>
                              </div>
                              <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                  <button mat-button (click)="submitBrandRow(element)">Done</button>
                                </div>
                                  <mat-form-field class="form-input" *ngSwitchCase="'select'" appearance="fill">
                                    <mat-select [(ngModel)]="element[col.key]">
                                      <mat-option *ngFor="let mc of manufacturerList" [value]="mc.MANUFACTURER_CD">
                                        {{mc.MANUFACTURER_CD}} - {{mc.MANUFACTURER_NAME}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                <mat-form-field class="form-input" *ngSwitchDefault>
                                  <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                                </mat-form-field>
                              </div>
                            </td>
                          </ng-container>
                          <tr mat-header-row *matHeaderRowDef="brandDisplayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: brandDisplayedColumns"></tr>
                        </table>
                    </mat-tab>
                    ---->
                    <mat-tab label="Category Details">
                        <button class="button-add-row" mat-button (click)="addCategoryRow()">Add New Category</button>
                          <table mat-table table-dark [dataSource]="categoryDataSource" class="table ">
                            <ng-container [matColumnDef]="col.key" *ngFor="let col of categoryColumnsSchema">
                              <th mat-header-cell *matHeaderCellDef>
                                {{ col.label }}
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="editCategoryRow(element)">Edit</button>
                                  </div>
                                  <span *ngSwitchDefault>
                                    {{ element[col.key] }}
                                  </span>
                                </div>
                                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                    <button mat-button (click)="submitCategoryRow(element)">Done</button>
                                  </div>
                                  <mat-form-field class="form-input" *ngSwitchDefault>
                                    <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                                  </mat-form-field>
                                </div>
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="categoryDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: categoryDisplayedColumns"></tr>
                          </table>
                    </mat-tab>
                    <mat-tab label="Subcategory Details">
                      <button class="button-add-row" mat-button (click)="addSubcategoryRow()">Add New Subcategory</button>
                      <table mat-table table-dark [dataSource]="subcategoryDataSource" class="table ">
                        <ng-container [matColumnDef]="col.key" *ngFor="let col of subcategoryColumnsSchema">
                          <th mat-header-cell *matHeaderCellDef>
                            {{ col.label }}
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="editSubcategoryRow(element)">Edit</button>
                              </div>
                              <span *ngSwitchDefault>
                                {{ element[col.key] }}
                              </span>
                            </div>
                            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                <button mat-button (click)="submitSubcategoryRow(element)">Done</button>
                              </div>
                                <mat-form-field class="form-input" *ngSwitchCase="'select'" appearance="fill">
                                  <mat-select [(ngModel)]="element[col.key]">
                                    <mat-option *ngFor="let cL of categoryList" [value]="cL.CATEGORY_ID">
                                      {{cL.CATEGORY_ID}} - {{cL.CATEGORY_NAME}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              <mat-form-field class="form-input" *ngSwitchDefault>
                                <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                              </mat-form-field>
                            </div>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="subcategoryDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: subcategoryDisplayedColumns"></tr>
                      </table>
                  </mat-tab>
                  <mat-tab label="Location Details">
                    <button class="button-add-row" mat-button (click)="addLocationRow()">Add New Location</button>
                    <table mat-table table-dark [dataSource]="locationDataSource" class="table ">
                      <ng-container [matColumnDef]="col.key" *ngFor="let col of locationColumnsSchema">
                        <th mat-header-cell *matHeaderCellDef>
                          {{ col.label }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                            <div class="btn-edit" *ngSwitchCase="'isEdit'">
                              <button mat-button (click)="editLocationRow(element)">Edit</button>
                            </div>
                            <span *ngSwitchDefault>
                              {{ element[col.key] }}
                            </span>
                          </div>
                          <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                            <div class="btn-edit" *ngSwitchCase="'isEdit'">
                              <button mat-button (click)="submitLocationRow(element)">Done</button>
                            </div>
                            <mat-form-field class="form-input" *ngSwitchDefault>
                              <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
                            </mat-form-field>
                          </div>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="locationDisplayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: locationDisplayedColumns"></tr>
                    </table>
                </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>    
</div>