<div class="container-fluid">
  <div class="row no-gutters">
    <div class="visualization-heading col-12">
      <div class="heading-info row">
        <div class="col-10">                
          <h3 class="heading-title">Customer List</h3>
        </div>
        <div class="col-2">
          <button mat-raised-button class="bg-primary text-white btn btn-block btn-sm" (click)="gotoCustomerDetails('/crm/customer/details','new')" title="Add New Customer">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>  
    <div class="row">
        <div class="col-12">
          <b>Search</b>
          <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" style="color: black;" placeholder="Please Enter Your Seach Keyword to filter" (keyup)="quickPartySearch()" [(ngModel)]="searchValue">
          </mat-form-field>
        </div>
        <hr>
        <div class="col-12">
          <mat-table [dataSource]="customerlistDataSource" class="mat-table" matSort matSortDisableClear [multiTemplateDataRows]="true">
            <ng-container matColumnDef="PCODE">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.PCODE }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="CUST_NAME">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.CUST_NAME }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="TAX_1_NO">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Tax</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.TAX_1_NO }} </mat-cell>
            </ng-container>
    
            <!-- Button Column -->
            <ng-container matColumnDef="Actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button md-raised-button color="primary" class="btn-w-md ml-2 mat-button text-white" style="border-radius: 50%;" (click)="gotoCustomerDetails('/crm/customer/details', row.PCODE)">
                  View
                </button>
              </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="columnCustomer"></mat-header-row>
            <mat-row matRipple *matRowDef="let row; columns: columnCustomer;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>  
</div>